<!DOCTYPE html>
<html >
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class= 'container'>
<a href="{{ url_for('home') }}" class="back">Home</a>
<div class="container_content">
<div class="container_content_inner">


<div class="login">
	
  <h1>Genre Based Recommender</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" style="margin-top:12px; margin-left: 12px;">
    	<input type="text" name="Genre" placeholder="Genre" required="required" />
    	<input type="text" name="Year" placeholder="Year" required="required" />

        <button type="submit" class="btns_more">Recommend Me!</button>
    </form>

  </div>
  
  <div class="table_position">
    <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
      </tr>
      </thead>
    </table>
	
	<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
	  {% for row in row_data %}
        <tr>
        {% for col, row_ in zip(column_names, row) %}
		  {% if col == 'poster' %}
		  <td><img src={{row_}} alt=""></img></td>
		  {% endif %}
		  {% if col != 'poster' %}
          <td>{{row_}}</td>
		  {% endif %}
        {% endfor %}
        </tr>
	  {% endfor %}
	  </tbody>
	</table>
	</div>
	
</div>

</div>
</div>
</div>
</div>
<div class="overlay"></div>
</body>